<div class='row'>
  <div class='w-100'>
    <h2 class='text-center font-weight-bold'>Welcome, {{name}}!</h2>
  </div>
</div>

<div class='row m-3'>
  <div class='col justify-content-center'>
    <h3 class='text-align-center'>Create a New Blog Post:</h3>

    <form class='form new-post-form'>
      <div class='form-group'>
        <label for='post-title'>post title:</label>
        <input class='form-input' type='text' id='post-title' name='post-title' />
      </div>
      <div class='form-group'>
        <label for='post-contents'>description:</label>
        <textarea class='form-input' id='post-contents' name='post-contents'></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Create</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
    <div class='row post-list'>
      <h3>My Posts:</h3>

      {{#each posts as |post|}}
        <div class='row m-3'>
          <div class='col-7'>
            <h4><a href='/mypost/{{post.id}}'>{{post.title}}</a></h4>
          </div>
          <div class='col-5'>
            Click on the link edit and delete your post
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}

</div>

<script src='/js/profile.js'></script>